<section><h2 id="about-me">About Myself</h2>
    <hr class="bar"/>
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>Geek, passionate about technology and everything new about programming,
            lover of a good read, aspiring writer, kung fu fighter and amateur musician at free time.</p>
        <p>I graduated in computer engineering at UFRN and I also got a master's degree
            in electrical engineering and computing at the same institution.</p>
        <p>Currently working as a developer at Logique Sistemas.</p>
    </div>
    <div class="skill-lock"></div>
</section>