<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar"/>

    <div class="social-links">
        <a href="https://www.facebook.com/rivaldo.rodrigues">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a>
        <a href="https://www.linkedin.com/in/rivaldorodrigues">
            <div class="glyph-icon flaticon-linkedin"></div>
        </a>
        <a href="https://github.com/hivakun">
            <div class="glyph-icon flaticon-github"></div>
        </a>
    </div>

    <hr class="bar"/>
    <a href="mailto:hiva.rodrigues@gmail.com" class="biglink">hiva.rodrigues@gmail.com</a>
</section>