<div class="history">
    <div class="cd-timeline-header"><h2 id="Experenice">Experience</h2>
        <hr class="bar"/>
    </div>
    <section id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">

            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2 class="story-heading">B.Sc. in Computer Engineering</h2>
                <p>UFRN - Universidade Federal do Rio Grande do Norte</p>
                <p>Term Paper:</p>
                <ul>
                    <li>Desenvolvimento de uma Arquitetura OPC A&E Utilizando Java Native Access</li>
                </ul>
                <span class="cd-date">2006-2010</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/idea14.svg" alt="Location"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>Research Project</h2>
                <p>Path planning in virtual environments not immersive.</p>
                <span class="cd-date">2008</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block--></div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/idea14.svg" alt="Location"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>Research Project</h2>
                <p>Computational environment for integrated industrial process informations.</p>
                <span class="cd-date">2008 - 2010</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block--></div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2 class="story-heading">M.Sc. in Computer Engineering</h2>
                <p>UFRN - Universidade Federal do Rio Grande do Norte</p>
                <p>Thesis:</p>
                <ul>
                    <li>Desenvolvimento de um middleware para comunicação via web services e sua aplicação em sistemas de aquisição de dados industriais</li>
                </ul>
                <span class="cd-date">2011-2014</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/graduate38.svg" alt="Picture"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>Congress participation</h2>
                <p>IFRN - EPOCA 2011 at Natal/RN</p>
                <p>Paper:</p>
                <ul>
                    <li>Desenvolvimento de uma Arquitetura OPC A&E Utilizando j-&nbsp;Interop</li>
                </ul>
                <span class="cd-date">May 2013</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block--></div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/web-programming.svg" alt="College"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>Software Developer</h2>
                <p>Logique Sistemas</p>
                <ul>
                    <li>Architecture and developing new features for existing applications.</li>
                    <li>Migrating applications for new technologies (Maven, H2 Database).</li>
                    <li>Designing users interfaces with Java Swing, Java FX and Flex.</li>
                    <li>Provide maintenance in the system of industrial data acquisition via OPC protocol.</li>
                    <li>Create and manage database architecture for alarm and event data storage (Oracle, PostgreSQL, SQL Server).</li>
                    <li>Develop new features for gas measurement application (Web and Android).</li>
                    <li>Provide suporte for clients.</li>
                </ul>
                <span class="cd-date">2012 - present</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/graduate38.svg" alt="Picture"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>Congress participation</h2>
                <p>IBP - Rio Automação 2013 at Rio de Janeiro/RJ</p>
                <p>Paper:</p>
                <ul>
                    <li>Desenvolvimento de uma Arquitetura OPC A&E Multplataforma</li>
                </ul>
                <span class="cd-date">May 2013</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block--></div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/graduate38.svg" alt="Location"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>Congress participation</h2>
                <p>IBP - Rio Automação 2015 at Rio de Janeiro/RJ</p>
                <p>Papers:</p>
                <ul>
                    <li>Sistema Integrado para Aquisição de Dados Industriais</li>
                    <li>Middleware para Aplicações de Aquisição de Dados Insdustriais via Web Service</li>
                </ul>
                <span class="cd-date">May 2015</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block--></div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location"/></div>
            </div><!-- cd-timeline--></div>
    </section>
    <div class="cd-timeline-header"><h2></h2></div>
</div>